{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^(react|react-dom|react-router)$",
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/pages/(.*)$",
		"^@/widgets/(.*)$",
		"^@/features/(.*)$",
		"^@/shared/(.*)$",
		"import type",
		"^[./]",
		"\\.css$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
