@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-pretendard: Pretendard, sans-serif;
	--font-manrope: Manrope, sans-serif;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-primary-10: #f6fcff;
	--color-primary-20: #e3faff;
	--color-primary-30: #67e6ff;
	--color-primary-40: #38deff;
	--color-primary-50: #3ac8ff;
	--color-primary-60: #21a8f1;
	--color-primary-70: #278cff;
	--color-primary-80: #177bec;

	--color-sub-orange-10: #fff6f0;
	--color-sub-orange-20: #fccfb1;
	--color-sub-orange-30: #ffb380;
	--color-sub-orange-40: #ffa970;
	--color-sub-orange-50: #ff893a;

	--color-sub-green-10: #f4fff7;
	--color-sub-green-20: #cff3d8;
	--color-sub-green-30: #86da9b;
	--color-sub-green-40: #5ed07a;
	--color-sub-green-50: #1aa96e;

	--color-sub-red-10: #fff9f9;
	--color-sub-red-20: #ffbcbc;
	--color-sub-red-30: #ff2626;

	--color-grey-10: #f6f9fb;
	--color-grey-20: #e7edf3;
	--color-grey-30: #d4dee5;
	--color-grey-40: #c2ccd7;
	--color-grey-50: #afbbc6;
	--color-grey-60: #9aa3af;
	--color-grey-70: #74808e;
	--color-grey-80: #4a5361;
	--color-grey-85: #333c4a;
	--color-grey-90: #171d29;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
:lang(ko) {
	font-family: var(--font-pretendard);
}
:lang(en) {
	font-family: var(--font-manrope);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-pretendard);

	.font-en {
		font-family: var(--font-manrope);
	}
	html {
		font-family: var(--font-pretendard), var(--font-manrope), sans-serif;
	}
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* 자동 완성 스타일 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px transparent inset !important;
	-webkit-text-fill-color: inherit !important;
	background-color: transparent !important;
	background-image: none !important;
	transition: background-color 5000s ease-in-out 0s;
}

/* 특정 input 타입별 추가 설정 */
input[type='search'] {
	/* Safari에서 검색 input의 기본 스타일 제거 */
	-webkit-appearance: none;
	appearance: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

input[type='number'] {
	/* Firefox에서 숫자 input의 스피너 제거 */
	-moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	/* Webkit 브라우저에서 숫자 input의 스피너 제거 */
	-webkit-appearance: none;
	margin: 0;
}

/* 포커스 시 기본 스타일 제거 */
input:focus {
	outline: none;
	box-shadow: none;
}

/* 플레이스홀더 스타일 초기화 */
input::placeholder {
	color: inherit;
	opacity: 1;
}

input::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}

/* 파일 input 특별 처리 */
input[type='file'] {
	background: none;
	border: none;
	padding: 0;
}

/* 체크박스, 라디오 버튼 기본 스타일 제거 */
input[type='checkbox'],
input[type='radio'] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

/* 범위(range) input 스타일 제거 */
input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
}

input[type='range']::-webkit-slider-track {
	background: transparent;
	border: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

input[type='range']::-moz-range-track {
	background: transparent;
	border: none;
}

input[type='range']::-moz-range-thumb {
	background: transparent;
	border: none;
}
